body {
  width: 100%;
  height: 100vh;
  /* To get rid of the horizontal scroll-bar,  set the body default margin added by some browsers to 0 */
  margin: 0px;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
	font-size: 16px;
}
label {
  /* To make them appear on separate lines, add display: block to the label element,
and add a margin of 0.5rem 0, to separate them from each other */
  display: block;
  margin: 0.5rem 0;
}
h1, p {
  margin: 1em auto;
  text-align: center;
}
form {
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
  width: 60vw;
  padding-bottom: 2em;
}
fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}
fieldset:last-of-type {
  border-bottom: none;
}
input, textarea, select {
  width: 100%;
  margin: 10px 0 0 0;
  min-height: 2em;
}
 .inline {
   width: unset;
   margin: 0 0.5em 0 0;
   vertical-align: middle;
 }
 input, textarea {
   background-color: #0a0a23;
   border: 1px solid #0a0a23;
   color:#ffffff;
 }
 input[type="submit"] {
   display: block;
   width: 60%;
   min-width: 300px;
   margin: 1em auto;
   height: 2em;
   font-size: 1.1rem;
   background-color: #3b3b4f;
   border-color: white;
   font-size: 1.1rem;
 }
input[type="file"] {
  padding: 1px 2px;
}
a {
  color: #dfdfe2;
}
